h1, h2, h3 {
	font-family: Cooper Black Std, Cooper Black, Cooper Std, Arial Black, Sans-Serif;
	color: #FF00FF;
} 

h1 {
	font-size:  48pt;
}

h2 {
	font-size: 36px;
}

p { 
	padding: 10px;
	font-family: Helvetica, Arial Black, Sans-Serif;
	font-weight: bold;
	letter-spacing: -0.5px;
	line-height: 1.5em;
}

body {
	background: #EEE;
}

#canvii {
	
}

#input_text {
	width: 500px;
	min-height: 150px;
}